.tasks-wall {
  position: relative;
  display: flex;
  justify-content: space-around;
  background: #F1F0EE;
  -webkit-user-select: none;
  user-select: none;
  min-height: 70%;

  *, *::before, *::after {
    -webkit-user-select:none;
    user-select:none;
  }
}
