.tasks-wall {
  display: flex;
  justify-content: space-around;
  background: #F1F0EE;
  -webkit-user-select:none;
  user-select:none;

  *, *::before, *::after {
    -webkit-user-select:none;
    user-select:none;
  }
}
