.task-item {
  position: relative;
  list-style-type: none;
  width: 90%;
  margin: auto;
  margin-bottom: 7px;
  background: rgba(0, 0, 0, 0.1);
}

.task-item-content {
  width: 100%;
  text-align: center;
  border: 10px solid #E0E4CC;
  background: #E0E4CC;
  z-index: 10;
  min-height: 125px
}

:global .drag-active {

  .g-fake-ondrag {
    display: block;
    background: rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  .g-task-item {
    background: transparent;
  }
}

:global .g-task-item.js-editMode {
  z-index: 1;
}

.fake-ondrag {
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.task-item-title {
  position: relative;
  display: inline-block;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;
  padding: 10px 0 10px 0;
  margin: 0 0 10px 0;
  background: #333332;
  color: inherit;
  border-radius: 2px;
  z-index: 13;
}

.task-item-description {
  padding: 0 3px 30px;
  text-align: left;
  color: #333332;
}
