.task-group {
  position: relative;
  display: inline-block;
  vertical-align: top;
  min-width: 33.33%;
  min-height: 80vh;
  max-height: 80vh;
  border: solid 2px #fff;
}

.task-group-title {
  position: relative;
  height: 50px;
  text-align: center;
  padding-top: 10px;
  background: #1352a2;
  color: #f1f0ee;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  z-index: 1;
}

.task-group-list {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  padding-top: 70px;
}

.ToDo {
  color: #D96459;
}

.InProgress {
  color: #FFD464;
}

.Done {
  color: #588C73;
}
