@import './scss/fonts';

*, *:before, *:after {
  font-family: inherit;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  position: relative;
  height: 100%;
  font-family: sans-serif;
}

body {
  background: #fff;
  font-family: sans-serif;
}

:global .app {
  height: 100%;
}

:global .main-container {
  position: relative;
  width: 95%;
  height: 100%;
  margin: auto;
}
