.nav {
  position: relative;
  height: 80px;
}

.menu {
  display: inline-block;
  height: 100%;
  vertical-align: top;
  width: calc(100% - 420px);
}

.mainTitle {
  color: #10346b;
  font-family: 'Poiret One';
  display: inline-block;
  height: 100%;
  vertical-align: top;
}
