.nav {
  position: relative;
  height: 60px;
  white-space: nowrap;
  margin-bottom: 10px;
  padding: 0 20px 0 20px;
}

.menu {
  display: inline-block;
  height: 100%;
  vertical-align: top;
  width: calc(100% - 405px);
}

.mainTitle {
  color: #10346b;
  font-family: 'Poiret One';
  display: inline-block;
  vertical-align: top;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
